
:root {
    --magenta: rgb(206, 110, 206);
    --max-width:  800px;
    --base-color: #d16e6e;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.125em;
}

img {
    max-width: 100%;
}

p {
    margin-top: 0px;
}

h1  {
    text-align: center;
   
}

h1 span {
    text-align: center;
    color: var(--base-color);
}

h2 {
    font-size: 1.1em;
    margin-bottom: 1em;
}

body {
    margin: 0;
    background-color:pink;
}

/* order matters!! 
@media (min-width: 600px) and (orientation:landscape){
    body {
        background-color: purple;
        flex-direction: column; 
    }

}
 @media (min-width: 650px) and (max-width:800px) {
    body {
        background-color: red;
    }
} */




.container {
    border: 2px solid var(--magenta);
    width: 90%;
    max-width: var(--max-width);
    margin:0 auto;
}

.columns {
    display: flex;
     justify-content: space-between;
    border: 2px solid var(--magenta);
    margin: 1em 0;
     
}

.col-1 {
    width: 20%;
}

.col-2 {
    width: 45%;
}

.col-3 {
    width: 70%;
}

.col-dark {
    background-color: var(--base-color);
    padding: 1em;
}

@media (max-width: 600px) {
    .columns {
     
    flex-direction: column; 
    }

    .col-1, .col-2, .col-3 {
        width: 100%;
    }
    
    
    .col-dark {
         padding: 0;
    }
}