:root {
    --grey: #707070;
    --dark-blue: #143774;
}

nav a { 
    font-family: 'Ubuntu', sans-serif;
    font-size: 1 rem;
    text-decoration: none;
    color: var(--grey);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .2rem;
    transition: 500ms;
    border-bottom: 2px solid transparent;

}

nav a:hover {
    border-color:var(--grey);
}

.title {
    font-family: 'Lora', sans-serif;
    color: var(--dark-blue);
    font-size: 3.375rem;
    font-weight: 300;
    font-style: italic;

}

